body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.box{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid black;
    transform: translate(-50%,-50%);
    background: #D3D3D3;
    text-align: center;
    border-radius: 34px ;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"],.box input[type = number]{
    background: white;
    display: block;
    margin: 20px auto;
    text-align: left;
    padding: 14px 10px;
    width: 400px;
    color: black;
    border-radius: 10px;
    outline: none;
}
#submit{
    background: black;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 14px 40px;
    outline: none;
    color: white;
    width: 150px;
    cursor: pointer;
    border-radius: 9px ;
    margin: 20px;
    float: left;
}

.box input[type = "submit"]:hover {
    background: black;
}

.login {
    float: right;
    text-align: center;
    padding: 14px 40px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    margin: 20px;
    display: block;
    float: right;
}

.text {
    margin: 0;
    color: white;
}

.home {
    width: 100px;
    background-color: black;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    top: 30px;
    left: 30px;
    border: 1px solid black;
    color: white;
    box-shadow: 3px 3px 5px 0px #666;
}

#errorUsername, #errorPhone, #errorEmail, #errorPassword {
    position: absolute;
    left: 50px;
    font-size: 12px;
    display: none;
    color: red;
}

#errorUsername { top: 162px;}

#errorPassword { top: 238px;}

#errorEmail { top: 314px; }

#errorPhone { top: 390px }







